{% extends 'base.html' %}

{% block title %}Projects | Skyline Builders{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="text-center mb-5">Our Projects</h1>

    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="https://picsum.photos/400/250?1" class="card-img-top">
                <div class="card-body">
                    <h5>Commercial Tower</h5>
                    <p>Modern commercial construction project.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="https://picsum.photos/400/250?2" class="card-img-top">
                <div class="card-body">
                    <h5>Solar Farm</h5>
                    <p>Large-scale solar energy installation.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="https://picsum.photos/400/250?3" class="card-img-top">
                <div class="card-body">
                    <h5>Residential Project</h5>
                    <p>Premium housing development project.</p>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}